<h1><a href="{{ path('complex') }}">List of projects</a></h1>

{# STATE = 0 #}
<div class="panel panel-default"> 
    <div class="panel-heading">Projects under editing</div>
    <div class="panel-body">
        {% for j in jobs if j.getState() == 0%}
            <a href="{{ path('complex', {'jobid': j.getId()}) }}" role="button" class="btn btn-default" jobid={{j.getId()}}>{{j.getName()}}</a>
        {% endfor %}
    </div>
</div>  

{# STATE = 1 #}
<div class="panel panel-success"> 
    <div class="panel-heading">Finalized projects, ready to run</div>
    <div class="panel-body">
        {% for j in jobs if j.getState() == 1%}
            <a href="{{ path('complex', {'jobid': j.getId()}) }}" role="button" class="btn btn-success" jobid={{j.getId()}}>{{j.getName()}}</a>
        {% endfor %}
    </div>
</div> 

{# STATE = 2-4 #}
<div class="panel panel-primary"> 
    <div class="panel-heading">Projects running</div>
    <div class="panel-body">
        {# STATE = 2 #}
        <div class="panel panel-primary"> 
            <div class="panel-heading">Map</div>
            <div class="panel-body">
                {% for j in jobs if j.getState() == 2%}
                    <a href="{{ path('complex', {'jobid': j.getId()}) }}" role="button" class="btn btn-primary" jobid={{j.getId()}}>{{j.getName()}}</a>
                {% endfor %}
            </div>
        </div>
        {# STATE = 3 #}
        <div class="panel-warning">
            <div class="panel-heading">Shuffle</div>
            <div class="panel-body">
                {% for j in jobs if j.getState() == 3%}
                    <a href="{{ path('complex', {'jobid': j.getId()}) }}" role="button" class="btn btn-warning" jobid={{j.getId()}}>{{j.getName()}}</a>
                {% endfor %}
            </div>
        </div>
        {# STATE = 4 #}
        <div class="panel panel-primary"> 
            <div class="panel-heading">Reduce</div>
            <div class="panel-body">
                {% for j in jobs if j.getState() == 4%}
                    <a href="{{ path('complex', {'jobid': j.getId()}) }}" role="button" class="btn btn-primary" jobid={{j.getId()}}>{{j.getName()}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div> 

{# STATE = 5 #}
<div class="panel panel-success"> 
    <div class="panel-heading">Finished projects</div>
    <div class="panel-body">
        {% for j in jobs if j.getState() == 5%}
            <a href="{{ path('complex', {'jobid': j.getId()}) }}" role="button" class="btn btn-success" jobid={{j.getId()}}>{{j.getName()}}</a>
        {% endfor %}
    </div>
</div> 
