{% extends 'main.twig' %}

{% block title %}SMRTB workbench{% endblock %}

{% block body %}

<div class="row">



    <div class="col-sm-4">
        <h1>List of jobs</h1>

        {# STATE = 0 #}
        <div class="panel panel-default"> 
            <div class="panel-heading">Jobs under editing</div>
            <div class="panel-body">
                {% for j in jobs if j.getState() == 0%}
                    <button type="button" class="btn" jobid={{j.getId()}}>{{j.getName()}}</button>
                {% endfor %}
            </div>
        </div>  

        {# STATE = 1 #}
        <div class="panel panel-success"> 
            <div class="panel-heading">Jobs finalized, ready to run</div>
            <div class="panel-body">
                {% for j in jobs if j.getState() == 1%}
                    <button type="button" class="btn btn-success" jobid={{j.getId()}}>{{j.getName()}}</button>
                {% endfor %}
            </div>
        </div> 

        {# STATE = 2-4 #}
        <div class="panel panel-primary"> 
            <div class="panel-heading">Jobs running</div>
            <div class="panel-body">
                {# STATE = 2 #}
                <div class="panel panel-primary"> 
                    <div class="panel-heading">Map</div>
                    <div class="panel-body">
                        {% for j in jobs if j.getState() == 2%}
                            <button type="button" class="btn btn-primary" jobid={{j.getId()}}>{{j.getName()}}</button>
                        {% endfor %}
                    </div>
                </div>
                {# STATE = 3 #}
                <div class="panel-warning">
                    <div class="panel-heading">Shuffle</div>
                    <div class="panel-body">
                        {% for j in jobs if j.getState() == 3%}
                            <button type="button" class="btn btn-warning" jobid={{j.getId()}}>{{j.getName()}}</button>
                        {% endfor %}
                    </div>
                </div>
                {# STATE = 4 #}
                <div class="panel panel-primary"> 
                    <div class="panel-heading">Reduce</div>
                    <div class="panel-body">
                        {% for j in jobs if j.getState() == 4%}
                            <button type="button" class="btn btn-primary" jobid={{j.getId()}}>{{j.getName()}}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> 

        {# STATE = 5 #}
        <div class="panel panel-success"> 
            <div class="panel-heading">Finished jobs</div>
            <div class="panel-body">
                {% for j in jobs if j.getState() == 5%}
                    <button type="button" class="btn btn-success" jobid={{j.getId()}}>{{j.getName()}}</button>
                {% endfor %}
            </div>
        </div> 

    </div>









    










    <div class="col-sm-4" margin=10>        
        <h1>Job details {% if job %} - <strong>{{job.getName()}}</strong>{% endif %}</h1>
        {% if job %}
        {% else %}
            <div class="alert alert-info">No job selected yet, click/tap one on the left.</div>
        {% endif %}
        
    </div>


    <div class="col-sm-4" margin=10>
        <h1>Job work view</h1>
    </div>
    
</div>

{% endblock %}

