<h1>Job details - <strong>{{job.getName()}}</strong></h1>
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
    <li><a data-toggle="tab" href="#scripts">Map/Reduce scripts</a></li>
    <li><a data-toggle="tab" href="#input">Input</a></li>
</ul>

<div class="tab-content">
    <div id="overview" class="tab-pane fade in active">
        <hr />
        <div class="alert alert-info"><b>Author</b>: {{ job.getAuthor() }} </div>
        <hr />
        <div 
            {% if job.getState()==1 %} class="alert alert-success"> {% endif %}
            {% if job.getState()==2 %} class="alert alert-info"> {% endif %}
            {% if job.getState()==3 %} class="alert alert-warning"> {% endif %}
            {% if job.getState()==4 %} class="alert alert-info"> {% endif %}
            {% if job.getState()==5 %} class="alert alert-success"> {% endif %}
            <b>Status</b>: {{ job.getStringState() }} 
        </div>
        <hr />
        <div class="panel panel-default">
            <div class="panel-body">Workers</div>
            <div class="panel-footer"><div class="alert alert-danger">Workers will be displayed here.</div> </div>
        </div>
        <hr />
        <h2>Map</h2>
        {% if job.getState() < 2 %}
            <div class="alert alert-info">Job not yet started</div>
        {% else %}
            <div class="progress">
                <div class="progress-bar progress-bar-striped {% if job.getState()==2 %}active{% endif %}" role="progressbar" aria-valuenow="{{job.getMapDone()}}" aria-valuemin="0" aria-valuemax="{{job.getMapCount()}}" style="width:{{job.getMapProgress()}}%">
                {{job.getMapDone()}}/{{job.getMapCount()}}
                </div>
            </div>
        {% endif %}
        <h2>Reduce</h2>
        {% if job.getState() < 2 %}
            <div class="alert alert-info">Job not yet started</div>
        {% elseif job.getState() < 4 %}
            <div class="alert alert-info">(key,value) pairs not yet generated, or collected</div>
        {% else %}
            <div class="progress">
                <div class="progress-bar progress-bar-striped {% if job.getState()==4 %}active{% endif %}" role="progressbar" aria-valuenow="{{job.getReduceDone()}}" aria-valuemin="0" aria-valuemax="{{job.getReduceCount()}}" style="width:{{job.getReduceProgress()}}%">
                {{job.getReduceDone()}}/{{job.getReduceCount()}}
                </div>
            </div>
        {% endif %}
        
    </div>
    <div id="scripts" class="tab-pane fade">
        <hr />
        <h2>Map</h2>
        <pre><code class="JavaScript">{{job.getMapFunction()}}</code></pre>  
        <hr />
        <h2>Reduce</h2>
        <pre><code class="JavaScript">{{job.getReduceFunction()}}</code></pre> 
        <hr />
    </div>
    <div id="input" class="tab-pane fade">
        <div class="alert alert-danger">Input will be displayed here.</div>
    </div>
</div>
