<h1>Project contribution - <strong id="jobnametitle">{{job.getName()}}</strong></h1>

<button type="button" onclick="contribute()">Work</button>

<table class="table table-hover" id="mapjobtable">
    <caption>Map jobs</caption>
    <thead>
      <tr>
        <th>id</th>
        <th>Inputchunk</th>
        <th>Restult</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<table class="table table-hover" id="reducejobtable">
    <caption>Reduce jobs</caption>
    <thead>
      <tr>
        <th>id</th>
        <th>Key</th>
        <th>Values</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% block javascripts %}
<script>{{job.getMapFunction()|raw}}</script>
<script>{{job.getReduceFunction()|raw}}</script>
<script>function getJobId(){return {{job.getId()}};}</script>
<script src="{{ asset('js/complexcontribute.js') }}"></script>

{% endblock %}
