{% extends 'main.twig' %}

{% block title %}Job details for {{job.getName()}}{% endblock %}

{% block body %}

<h1>Job details for {{job.getName()}}</h1>

<h3>Name</h3>
{{job.getName()}}

<h3>Author</h3>
{{job.getAuthor()}}

<h3>State</h3>
{{job.getStringState()}}

<h3>Input</h3>
<textarea >
{{job.getInputFile()}}
</textarea>

<h3>Map function</h3>
<textarea >
{{job.getMapFunction()}}
</textarea>

<h3>Reduce function</h3>
<textarea >
{{job.getReduceFunction()}}
</textarea>


<h3>Map jobs</h3>
<table border=1>
    <tr>
        <th>ID</th>
        <th>Chunk</th>
        <th>Worker</th>
        <th>Finished</th>
    </tr>
    {% for mjob in job.mapjobs %}
    <tr>
        <td>{{mjob.getId()}}</td>
        <td>{{mjob.getInputChunk()}}</td>
        <td>{{mjob.getWorker()}}</td>
        <td>{{mjob.getFinished()}}</td>
    </tr>
    {% endfor %}    
</table>


<h3>Intermediate Pairs</h3>
<table border=1>
    <tr>
        <th>ID</th>
        <th>Mapjob</th>
        <th>Key</th>
        <th>Value</th>
    </tr>
    {% for pair in job.intermediatepairs %}
    <tr>
        <td>{{pair.getId()}}</td>
        <td>{{pair.getMapJob().getInputChunk()}}</td>
        <td>{{pair.getKey()}}</td>
        <td>{{pair.getValue()}}</td>
    </tr>
    {% endfor %}    
</table>

<h3>Reduce jobs</h3>
<table border=1>
    <tr>
        <th>ID</th>
        <th>Key</th>
        <th>Values</th>
        <th>Worker</th>
        <th>Finished</th>
    </tr>
    {% for rjob in job.reducejobs %}
    <tr>
        <td>{{rjob.getId()}}</td>
        <td>{{rjob.getKey()}}</td>
        <td>{{rjob.getValues()|join('|')}}</td>
        <td>{{rjob.getWorker()}}</td>
        <td>{{rjob.getFinished()}}</td>
    </tr>
    {% endfor %}    
</table>

{% endblock %}

