{% extends 'main.twig' %}

{% block title %}List of jobs{% endblock %}

{% block body %}

<h2> Jobs still under editing </h2>
{{ render(controller('AppBundle:List:jobs', { 'state': 0 })) }}

<h2> Jobs finalized and ready to run </h2>
{{ render(controller('AppBundle:List:jobs', { 'state': 1 })) }}

<h2> Jobs currently running Map jobs </h2>
{{ render(controller('AppBundle:List:jobs', { 'state': 2 })) }}

<h2> Jobs currently running Reduce jobs </h2>
{{ render(controller('AppBundle:List:jobs', { 'state': 3 })) }}

<h2> Finished jobs </h2>
{{ render(controller('AppBundle:List:jobs', { 'state': 4 })) }}

{% endblock %}

