{% extends 'main.twig' %}

{% block title %}Mapjob ({{mapdata.mapjobid}}) for {{job.getName()}}{% endblock %}

{% block body %}
<h1>Mapjob ({{mapdata.mapjobid}}) for {{job.getName()}}</h1>

<h3>Job info</h3>
<ul>
    <li><b>Name: </b> {{job.getName()}}</li>
    <li><b>Author: </b>{{job.getAuthor()}}</li>
</ul>



<h3>MapJob data</h3>
<h4>ID</h4>

{{mapdata.mapjobid}}

<h4>InputChunk</h4>
<textarea id="chunk">{{mapdata.chunk}}</textarea>

<br />
<button type="button" onclick="mapsolve()">Solve</button>

{% endblock %}


{% block javascripts %}
<script>{{job.getMapFunction()|raw}}</script>
<script>function getJobId(){return {{job.getId()}};}</script>
<script>function getMapJobId(){return {{mapdata.mapjobid}};}</script>
<script src="{{ asset('js/mapsolve.js') }}"></script>

{% endblock %}
